// fonts
.fp {font-family: 'Open Sans', sans-serif;} // font primary
.fh {font-family: 'Play', sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon


// body
@bb: #fff; // body background

// colors
@c1: #1b1c20;
@c2: #f79c1e;
@c3: #8cc63f;
@c4: #00b1ef;

// font sizes
@fsp: 15px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 15px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";