#page-header { 
	position: relative;
	background: #999 url(../images/bg/01.jpg) top;
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 15px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );

	}
}

#col-bottom {
	background: #ddd url(../images/bg/04.png) top;
	&>.container {
		position: relative;
		padding-top: 50px;
		background: url(../images/bg/02.png) no-repeat top;
		background-size: 100% 20px;
	}
}

#page-footer {
	background: fade(#000,40);
}

#col-main {
	float: right;
	width: 780px;
	margin: 0 0 50px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
	}
}

#col-left {
	float: left;
	width: 265px;
	margin: 0 0 50px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
	}
}

.header_logo { 
	float: left;
	width: 265px;
	margin: 36px 0 0;
	@media @sm, @xs, @xxs {
		float: none;
		margin: 20px auto 0;
		width: auto;
	}
	a { 
		display: block;
		font-size: 0;
		text-decoration: none;
		color: @c1;
		line-height: 1;
		text-align: center;
		padding: 0 0 25px 6px;
		background: #fff;
		@media @sm, @xs, @xxs {
			padding: 0 0 10px;
		}
		&:before {
			.fi;
			content: '\e815';
			display: block;
			font-size: 62px;
			line-height: 110px;
			@media @sm, @xs, @xxs {
				font-size: 52px;
				line-height: 1.6;
			}
		}
	}
}

.mod_menu-main { 
	float: right;
	width: 855px;
	margin: 36px -10px 0;
	@media @md {
		width: 655px;
	}
	@media @sm {
		float: none;
		width: auto;
	}
	@media @xs, @xxs {
		width: auto;
		float: none;
		margin-top: 15px;
	}
	ul { 
		.rlist;
		display: table;
		table-layout: fixed;
		width: 100%;
		position: relative;
		z-index: 1;
		li { 
			.fh;
			display: table-cell;
			vertical-align: middle;
			padding: 15px 70px 68px 33px;
			font-size: 22px;
			line-height: 1.2;
			letter-spacing: -0.03em;
			font-weight: bold;
			@media @xs, @xxs {
				display: block;
				padding: 15px 30px 30px;
			}
			&:before {
				z-index: 1;
				top: auto;
				bottom: 40px;
				left: 10px;
				right: 10px;
				height: 10px;
				background-image: url(../images/bg/02.png), url(../images/bg/02.png);
				background-repeat: no-repeat, no-repeat;
				background-position: bottom, bottom;
				background-size: 100% 100%, 100% 100%;
				@media @xs, @xxs {
					bottom: 5px;
				}
			}
			&:after {
				display: none;
				content: '';
				position: absolute;
				right: 10px;
				bottom: 0;
				border-left: 50px solid transparent;
				border-top: 50px solid @c2;
			}
			&.act {
				&:after {
					display: block;
				}
			}
			&:nth-child(3n-1) {
				&:after {
					border-top-color: @c3;
				}
				a {
					&:before {
						background: @c3;
					}
					&:hover{
						&:before {
							background: darken(@c3,10);
						}
					}
				}
			}
			&:nth-child(3n) {
				&:after {
					border-top-color: @c4;
				}
				a {
					&:before {
						background: @c4;
					}
					&:hover{
						&:before {
							background: darken(@c4,10);
						}
					}
				}
			}
			a { 
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				&:hover{
					&:before {
						background: darken(@c2,10);
					}
				}
				&:before, &:after {
					.transition(0.2s);
					content: '';
					position: absolute;
					z-index: -1;
					top: 0;
					left: 10px;
					right: 10px;
					bottom: 50px;
					background: @c2;
					@media @xs, @xxs {
						bottom: 15px;
					}
				}
				&:after {
					z-index: 0;
					background: none;
				}
				br {
					@media @xs, @xxs {
						display: none;
					}
				}
			}
		}
	}
}

.mod_articles_category-slideshow { 
	position: relative;
	&:before {
		content: '';
		position: absolute;
		z-index: 101;
		bottom: 0;
		left: 50%;
		right: 0;
		width: @content-width;
		margin: 0 0 0 -(@content-width/2);
		height: 20px;
		background-image: url(../images/bg/03.png), url(../images/bg/03.png);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom, bottom;
		background-size: 100% 100%, 100% 100%;
		@media @md {
			width: @content-width-md;
			margin: 0 0 0 -(@content-width-md/2);
		}
		@media @sm {
			width: @content-width-sm;
			margin: 0 0 0 -(@content-width-sm/2);
		}
		@media @xs, @xxs {
			display: none;
		}
	}
	.mod-items { 
		.mod-item { 
			display: none;
			position: relative;
			overflow: hidden;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			figure {
				overflow: hidden;
				img {
					@media @xs, @xxs {
						margin: 0 -50%;
						max-width: 200%;
					}
				}
			}
			.container {
				@media @lg, @md, @sm {
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -1000px 0 0 -(@content-width/2);
				}
				@media @md {
					margin-left: -(@content-width-md/2);
				}
				@media @sm { 
					margin-left: -(@content-width-sm/2);
				}
				@media @xs, @xxs {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					color: #fff;
					padding: 20px;
					background: fade(#000,50);
				}
				@media @xxs {
					padding: 10px 20px;
				}
			}
			figure {
				img { 
					display: block;
				}
			}
			.item-content { 
				@media @lg, @md, @sm {
					position: relative;
					display: table-cell;
					vertical-align: middle;
					height: 2000px;
					&>h2 { 
						position: relative;
						color: @c1;
						margin: 0 0 50px;
						padding: 25px 75px 25px 33px;
						text-transform: uppercase;
						font-size: 30px;
						float: left;
						background: #fff;
						@media @md, @sm {
							margin: 0 0 20px;
							padding: 10px 20px;
							font-size: 26px;
						}
						&:before {
							content: '';
							position: absolute;
							top: 100%;
							left: 0;
							right: 0;
							height: 15px;
							background-image: url(../images/bg/02.png), url(../images/bg/02.png);
							background-repeat: no-repeat, no-repeat;
							background-position: bottom, bottom;
							background-size: 100% 100%, 100% 100%;
						}
					}
					&>ul { 
						.rlist;
						clear: both;
						width: 312px;
						li { 
							.fh;
							font-size: 19px;
							line-height: 1.2;
							margin: 0 0 18px;
							background: #fff;
							@media @md, @sm {
								margin-bottom: 10px;
							}
							&:before {
								top: 100%;
								left: 0;
								right: 0;
								height: 10px;
								background-image: url(../images/bg/02.png), url(../images/bg/02.png);
								background-repeat: no-repeat, no-repeat;
								background-position: bottom, bottom;
								background-size: 100% 100%, 100% 100%;
							}
							a { 
								.transition(0.2s);
								display: block;
								padding: 20px 50px 20px 33px;
								text-decoration: none;
								color: @c1;
								@media @md, @sm {
									padding: 10px 20px;
								}
								&:before {
									.fi;
									.transition(0.2s);
									content: '\e818';
									position: absolute;
									right: 10px;
									top: 50%;
									line-height: 1;
									font-size: 38px;
									width: 40px;
									margin: -19px 0 0;
									text-align: center;
									color: @c2;
									@media @md, @sm {
										font-size: 20px;
										margin: -10px 0 0;
									}
								}
								&:hover{
									background: #f0f0f0;
									&:before {
										color: lighten(@c1,50);
									}
								}
							}
						}
					}
					.content {
						position: relative;
						clear: both;
						padding: 20px 33px;
						margin: 0 0 20px;
						background: #fff;
						&:before {
							content: '';
							position: absolute;
							top: 100%;
							left: 0;
							right: 0;
							height: 10px;
							background-image: url(../images/bg/02.png), url(../images/bg/02.png);
							background-repeat: no-repeat, no-repeat;
							background-position: bottom, bottom;
							background-size: 100% 100%, 100% 100%;
						}
						p {
							margin: 0;
						}
					}
					nav {
						.fh;
						display: inline-block;
						font-size: 19px;
						line-height: 1.2;
						margin: 0 0 18px;
						background: #fff;
						@media @md, @sm {
							margin-bottom: 10px;
						}
						a { 
							.transition(0.2s);
							position: relative;
							display: block;
							padding: 20px 33px;
							text-decoration: none;
							color: @c1;
							@media @md, @sm {
								padding: 10px 20px;
							}
							&:hover{
								background: #f0f0f0;
							}
						}
					}
				}
				@media @xs, @xxs {
					h2 {
						font-size: 18px;
						margin: 0;
					}
					a {
						color: #fff;
					}
					ul {
						.rlist;
						li {
							display: inline-block;
							&:after {
								content: '|';
								margin: 0 5px 0 8px;
							}
							&:last-child {
								&:after {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.transition(0.2s);
		position: absolute;
		z-index: 102;
		top: 50%;
		left: 2%;
		margin: -27px 0 0;
		font-size: 0;
		line-height: 1;
		text-decoration: none;
		color: fade(#fff,90);
		text-shadow: 1px 2px 0 fade(#000,20);
		@media @md, @sm, @xs, @xxs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before {
			.fi;
			content: '\e816';
			font-size: 54px;
		}
	}
	.next {
		left: auto;
		right: 2%;
		&:before {
			content: '\e817';
		}
	}
	.pager {
		position: absolute;
		z-index: 102;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: right;
		@media @xs, @xxs {
			display: none;
		}
		span {
			.transition(0.2s);
			position: relative;
			top: -48px;
			display: inline-block;
			border: 4px solid #fff;
			box-shadow: 4px 4px 0 fade(#000,60);
			width: 27px;
			height: 27px;
			margin: 0 0 0 12px;
			font-size: 0;
			cursor: pointer;
			&:hover{
				background: @c2;
			}
			&.cycle-pager-active {
				background: #fff;
			}
		}
	}
}

.mod_banners { 
	padding: 6% 0;
	ul { 
		.rlist;
		text-align: center;
		margin: 0 -20px;
		li { 
			display: inline-block;
			vertical-align: middle;
			padding: 20px;
			a { 

				img { 
					filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
					filter: gray;
					-webkit-filter: grayscale(100%);
					max-width: 160px;
					max-height: 80px;
					@media @md, @sm {
						max-width: 140px;
						max-height: 70px;
					}
					@media @xs, @xxs {
						max-width: 100px;
						max-height: 60px;
					}
				}
				&:hover{
					img {
						filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
						-webkit-filter: grayscale(0%);
					}
				}
			}
		}
	}
}

.mod_custom-contact { 
	float: left;
	width: 49%;
	margin: 0 0 30px;
	padding: 0 40px 0 0;
	@media @sm {
		width: 66.6666%;
	}
	@media @xs, @xxs {
		width: 100%;
		padding: 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 54px;
		left: 49%;
		bottom: 50px;
		width: 8px;
		margin: 0 0 0 -4px;
		background: fade(#000,15);
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	.mod-title { 
		.fh;
		font-size: 19px;
		line-height: 1.28;
		margin: 0;
		img { 
			display: block;
			max-width: 164px;
			margin: 5px 0;
		}

		mark { 
			font-size: 0;
		}
	}

	.mod-content { 
		float: left;
		width: 50%;
		font-weight: bold;
		padding: 0 20px 0 0;
		@media @xxs {
			width: 100%;
		}
		mark {
			font-size: 18px;
		}
		a {
			color: @c1;
		}
	}

	.mod-menu { 
		float: left;
		width: 50%;
		@media @xxs {
			width: 100%;
		}
		ul { 
			.rlist;
			li { 
				.fh;
				padding: 0 0 0 25px;
				margin: 0 0 11px;
				font-size: 16px;
				line-height: 1.2;
				&:before {
					.box-shadow(2px 2px 0 fade(#000,20));
					top: 2px;
					width: 12px;
					height: 12px;
					border: 2px solid #fff;
				}
				a { 
					color: @c1;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.mod_menu-bottom { 
	float: left;
	width: 27%;
	margin: 0 0 30px;
	padding: 0 30px 0 35px;
	@media @sm {
		padding: 0;
		width: 33.3333%;
	}
	@media @xs, @xxs {
		width: 100%;
		padding: 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 54px;
		left: 75%;
		bottom: 50px;
		width: 8px;
		margin: 0 0 0 -4px;
		background: fade(#000,15);
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	.mod-title { 
		.fh;
		font-size: 19px;
		line-height: 1.28;
		margin: 0 0 33px;
	}

	ul { 
		.rlist;
		li { 
			.fh;
			padding: 0 0 0 25px;
			margin: 0 0 11px;
			font-size: 16px;
			line-height: 1.2;
			&:before {
				.box-shadow(2px 2px 0 fade(#000,20));
				top: 2px;
				width: 12px;
				height: 12px;
				border: 2px solid #fff;
			}
			a { 
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.mod_custom-facebook { 
	position: relative;
	float: left;
	width: 24%;
	font-size: 13px;
	line-height: 1.6;
	font-weight: bold;
	margin: 0 0 30px;
	padding: 0 0 0 35px;
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		clear: both;
		padding: 0;
	}
	.mod-title { 
		.fh;
		font-weight: normal;
		font-size: 19px;
		line-height: 1.28;
		margin: 0 60px 25px 0;
		@media @sm, @xs, @xxs {
			margin-left: 60px;
			margin-right: 0;
		}
	}

	nav { 
		position: relative;
		font-weight: normal;
		position: absolute;
		top: 4px;
		right: 0;
		@media @sm, @xs, @xxs {
			right: auto;
			left: 0;
			top: -10px;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 4px;
			right: -6px;
			width: 6px;
			height: 100%;
			background: darken(@c2,10);
			-ms-transform: skewY(45deg);
			-webkit-transform: skewY(45deg);
			transform: skewY(45deg);
		}
		&:after {
			top: auto;
			right: -3px;
			bottom: -6px;
			width: 100%;
			height: 6px;
			background: darken(@c2,20);
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
		a { 
			position: relative;
			font-size: 0;
			text-decoration: none;
			display: block;
			width: 42px;
			height: 42px;
			line-height: 1;
			padding: 8px 2px 0 0;
			text-align: center;
			color: #fff;
			background: @c2;
			&:before {
				.fi;
				content: '\f300';
				font-size: 34px;
			}
			&:hover{
				background: darken(@c2,5);
			}
		}
	}
}



.mod_menu-footer {
	.rlist;
	float: right;
	margin: 23px 30px;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 5px 0;
		&:after {
			content: '|';
			margin: 0 0 0 15px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_custom-copy-copy {
	float: left;
	color: #fff;
	margin: 23px 0;
	font-size: 14px;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
}
.mod_custom-copy-xart {
	float: right;
	margin: 22px -3px 22px 0;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
	a {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 2px 25px 2px 0;
		background: url(../images/logo/xart.png) no-repeat right;
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_breadcrumbs { 
	margin: 0 0 35px;
	@media @xs, @xxs {
		display: none;
	}
	.container { 
		padding-top: 22px;
		padding-bottom: 40px;
		background: url(../images/bg/02.png) no-repeat bottom;
		-webkit-background-size: 100% 20px;
		background-size: 100% 20px;
		ul { 
			.rul;
			li { 
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
				font-size: 11px;
				padding: 0 0 0 22px;
				font-weight: bold;
				&:before {
					left: 10px;
					top: 1px;
					color: #ddd;
					font-size: 8px;
				}
				a { 
					color: @c1;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&.home {
					font-size: 0;
					padding: 0;
					&:before {
						display: none;
					}
					a {
						.transition(0.2s);
						color: @c2;
						text-decoration: none;
						&:hover{
							color: @c1;
						}
						&:before {
							.fi;
							position: relative;
							top: -2px;
							content: '\e80c';
							font-size: 16px;
							font-weight: normal;
						}
					}
				}
			}
		}
	}
}

.mod_custom-pager { 
	.clearfix;
	float: right;
	margin: 5px 0 15px 10px;
	@media @xs, @xxs {
		float: none;
		margin: 20px auto;
		text-align: center;
	}
	.prev, .next { 
		.transition(0.2s);
		position: relative;
		float: left;
		text-align: right;
		width: 104px;
		margin: 0 0 0 15px;
		padding: 10px;
		text-decoration: none;
		color: @c1;
		font-weight: bold;
		font-size: 11px;
		line-height: 1.2;
		text-transform: uppercase;
		background: #f4f5f3;
		border-left: 14px solid @c2;
		@media @xs, @xxs {
			float: left;
			margin: 0;
		}
		&:before {
			.transition(0.2s);
			content: '';
			position: absolute;
			top: 50%;
			margin: -6px 0 0;
			left: -16px;
			border: 6px solid transparent;
			border-right: 10px solid #f4f5f3;
		}
		&:hover{
			background: @c2;
			border-color: #f4f5f3;
			&:before {
				border-right-color: @c2;
			}
		}
	}

	.next { 
		text-align: left;
		border-left: none;
		border-right: 14px solid @c2;
		@media @xs, @xxs {
			float: right;
		}
		&:before {
			left: auto;
			right: -16px;
			border: 6px solid transparent;
			border-left: 10px solid #f4f5f3;
		}
		&:hover{
			&:before {
				border-left-color: @c2;
				border-right-color: transparent;
			}
		}
	}
}

.mod_custom-gallery { 
	ul { 
		.rlist;
		li { 

			a { 

				img { 

				}
			}
		}
	}
	.mod-slider {
		position: relative;
		padding: 0 0 56.25%;
		margin: 0 0 20px;
		background: #f4f5f3;
		li {
			width: 100%;
			height: 100%;
			overflow: hidden;
			&.cycle-sentinel {
				display: none!important;
			}
			img {
				display: block;
				max-height: 100%;
				margin: auto;
			}
		}
		.prev, .next {
			.transition(0.2s);
			position: absolute;
			z-index: 101;
			top: 50%;
			left: 0;
			width: 46px;
			height: 46px;
			line-height: 46px;
			margin: -23px 0 0;
			text-align: center;
			font-size: 0;
			background: @c2;
			&:hover{
				background: @c1;
			}
			&:before {
				content: '';
				display: block;
				margin: 14px 16px;
				border: 8px solid transparent;
				border-left-width: 0;
				border-right: 14px solid #fff;
			}
		}
		.next {
			left: auto;
			right: 0;
			&:before {
				border: 8px solid transparent;
				border-right-width: 0;
				border-left: 14px solid #fff;
			}
		}
	}
	.mod-thumbnails {
		.clearfix;
		position: relative;
		@media @xs, @xxs {
			display: none;
		}
		li {
			display: inline-block;
			padding: 0 10px;
			img {
				max-height: 120px;
				display: block;
			}
		}
		.prev, .next {
			.transition(0.2s);
			position: absolute;
			z-index: 101;
			top: 0;
			left: 0;
			bottom: 0;
			width: 14px;
			font-size: 0;
			background: @c2;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				margin: -6px 0 0;
				border: 6px solid transparent;
				border-right: 10px solid #fff;
			}
			&:hover{
				background: @c1;
			}
		}
		.next {
			left: auto;
			right: 0;
			&:before {
				right: auto;
				left: 0;
				border: 6px solid transparent;
				border-left: 10px solid #fff;
			}
		}
	}
}

.mod_custom-show {
	.clearfix;
	margin: 0 0 25px;
	.mod-show {
		position: relative;
		float: left;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 0 0 28px;
		@media @xs, @xxs {
			float: none;
			margin: 0 0 20px;
		}
		&:before {
			.fi;
			content: '\e80f';
			color: @c2;
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 20px;
			line-height: 1;
			margin: -10px 0 0;
			font-weight: normal;
		}
	}
	.mod-fb {
		float: right;
		width: 310px;
		@media @xs, @xxs {
			float: none;
			width: auto;
		}
		iframe {
			width: 100%;
			height: 40px;
			border: 0;
		}
	}
}

.mod_custom-table-list {
	margin: 0 0 40px;
	.mod-title {
		.fh;
		font-size: 32px;
		line-height: 1.2;
		text-transform: uppercase;
		color: @c2;
		margin: 0 0 32px;
	}
	table {
		tr {
			th, td {
				position: relative;
				text-align: left;
				padding: 0 0 10px;
				font-size: 14px;
			}
			th {
				text-transform: uppercase;
				padding-left: 25px;
				padding-right: 2em;
				&:before {
					.fi;
					content: '\e818';
					position: absolute;
					top: 0;
					left: 0;
					color: @c2;
				}
			}
		}
		@media @xs, @xxs {
			display: block;
			tr,tr th,tr td {
				display: block;
				padding: 0 0 0 25px;
			}
			tr {
				padding: 0;
				margin: 0 0 20px;
			}
		}
	}
}

.mod_custom-list-icon {
	.mod-title {
		.fh;
		font-size: 32px;
		line-height: 1.2;
		text-transform: uppercase;
		color: @c2;
		margin: 0 0 35px;
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			padding: 0 0 0 65px;
			margin: 0 0 50px;
			&>[class*="icon-"] {
				.border-radius(50%);
				margin: 0;
				position: absolute;
				top: -12px;
				left: 0;
				width: 48px;
				height: 48px;
				line-height: 45px;
				font-size: 25px;
				text-align: center;
				color: #fff;
				background: @c2;
				&:before {
					margin: 0;
				}
			}
			h2, h3, h4, h5, h6 {
				.fp;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 17px;
				margin: 17px 0;
			}
			h2 {
				font-size: 19px;
			}
		}
	}
}

.mod_custom-blockquote {
	position: relative;
	margin: 60px 0;
	padding: 50px 40px 35px 130px;
	background: #e7e8e6 url(../images/bg/02.png) no-repeat top;
	-webkit-background-size: 100% 20px;
	background-size: 100% 20px;
	&:before {
		.fi;
		.border-radius(50%);
		content: '\e813';
		position: absolute;
		top: 36px;
		left: 36px;
		width: 75px;
		height: 75px;
		line-height: 75px;
		font-size: 38px;
		text-align: center;
		color: #e7e8e6;
		background: #fff;
	}
	blockquote {
		padding: 0;
		margin: 0;
	}
	h2, h3, h4, h5, h6 {
		.fp;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 17px;
		line-height: 1.3;
		margin: 0 0 25px;
		small {
			font-size: 87%;
		}
	}
	h2 {
		font-size: 19px;
	}
}

.mod_menu-sidebar { 
	position: relative;
	background: #f4f5f3;
	.mod-title { 
		.fh;
		font-size: 24px;
		line-height: 1.2;
		padding: 22px 25px;
		margin: 0;
		text-transform: uppercase;
		background: #e7e8e6;
	}

	&>ul { 
		padding: 30px 28px 23px;
		margin: 0;
		&>li { 
			padding: 0 0 0 23px;
			margin: 0 0 13px;
			font-size: 18px;
			line-height: 1.2;
			&:before {
				font-size: 18px;
				color: @c2;
			}
			a { 
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.mod_banners-sidebar {
	padding: 40px 0;
	background: url(../images/bg/02.png) no-repeat;
	-webkit-background-size: 100% 10px;
	background-size: 100% 10px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		text-align: center;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 20px 30px;
	}
	ul {
		.rlist;
		text-align: center;
		li {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			margin: 0 0 25px;
			padding: 0 20px;
			a { 

				img { 
					filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
					filter: gray;
					-webkit-filter: grayscale(100%);
					max-width: 160px;
					max-height: 80px;
					@media @md, @sm {
						max-width: 140px;
						max-height: 70px;
					}
					@media @xs, @xxs {
						max-width: 100px;
						max-height: 60px;
					}
				}
				&:hover{
					img {
						filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
						-webkit-filter: grayscale(0%);
					}
				}
			}
		}
	}
}