
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-menu-1:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-website:before { content: '\e811'; } /* '' */
.icon-check-empty:before { content: '\e812'; } /* '' */
.icon-quote:before { content: '\e813'; } /* '' */
.icon-quote-circled:before { content: '\e814'; } /* '' */
.icon-logo:before { content: '\e815'; } /* '' */
.icon-arr-left:before { content: '\e816'; } /* '' */
.icon-arr-right:before { content: '\e817'; } /* '' */
.icon-play:before { content: '\e818'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */